
<!--container for the registration form-->
<div class="register-form">
    <!-- row for the header-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <!-- assign an action to the form-->
            <!-- TODO-->
            <!-- div for first/last name-->

            <!-- two single line input fields-->
            <input class="form-control" name="username" id="login-username" ng-model="user.username" placeholder="Your Username" type="text" />
            <input class="form-control" name="password" id="login-password" ng-model="user.password" placeholder="New Password" type="password" />
            <button class="btn btn-lg btn-primary btn-block btn-centered" id="register-submit" type="submit"
                    ng-click="login(user.username, user.password)"> Log in </button>
            <a href="#register">Register new account</a>
            </form>
        </div>
    </div>
</div>