input {
    margin:10px 0px;
}

.register-form {
    margin:20px;
    width: 1000px;
    height:800px;
}

.well {
    margin: 30px;
    width: 60%;
}

.btn-centered {
    width:60%;
    margin:auto;
}

.beername {
    position:relative;
    z-index: 100;
    width:80%;
    margin:auto;
}

.beerdesc {
    position:relative;
    z-index:100;
}

.currentBeerIcon {
    position:relative;

    margin-top: -120px;
    z-index: -1;
}